In [46]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [47]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lisakovsk,KZ,2022-05-11 03:03:18,52.5369,62.4936,49.21,83,99,15.52
1,1,Barrow,US,2022-05-11 03:05:02,71.2906,-156.7887,24.82,74,40,10.36
2,2,Hithadhoo,MV,2022-05-11 03:07:54,-0.6000,73.0833,84.42,73,93,14.27
3,3,Albany,US,2022-05-11 03:06:36,42.6001,-73.9662,53.89,44,0,4.43
4,4,Ust-Tsilma,RU,2022-05-11 03:07:55,65.4410,52.1498,40.80,69,9,4.23

In [48]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [49]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [50]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [55]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hithadhoo,MV,2022-05-11 03:07:54,-0.6000,73.0833,84.42,73,93,14.27
5,5,Champerico,GT,2022-05-11 03:07:56,14.3000,-91.9167,84.49,76,89,7.36
9,9,Butaritari,KI,2022-05-11 03:07:58,3.0707,172.7902,81.45,72,15,14.14
10,10,Atuona,PF,2022-05-11 03:07:59,-9.8000,-139.0333,79.14,67,32,20.33
13,13,Balabac,PH,2022-05-11 03:08:01,7.9868,117.0645,83.80,80,88,10.96
16,16,Kapaa,US,2022-05-11 03:05:05,22.0752,-159.3190,82.38,75,75,14.97
19,19,Bengkulu,ID,2022-05-11 03:08:03,-3.8004,102.2655,82.00,71,100,3.27
26,26,Cabo San Lucas,MX,2022-05-11 03:07:57,22.8909,-109.9124,79.90,60,0,13.89
27,27,Acajutla,SV,2022-05-11 03:08:06,13.5928,-89.8275,82.58,76,36,2.71
32,32,Sinnamary,GF,2022-05-11 03:08:08,5.3833,-52.9500,76.93,88,63,8.66

In [56]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [57]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Hithadhoo      MV     84.42  -0.6000   73.0833
5       Champerico      GT     84.49  14.3000  -91.9167
9       Butaritari      KI     81.45   3.0707  172.7902
10          Atuona      PF     79.14  -9.8000 -139.0333
13         Balabac      PH     83.80   7.9868  117.0645
16           Kapaa      US     82.38  22.0752 -159.3190
19        Bengkulu      ID     82.00  -3.8004  102.2655
26  Cabo San Lucas      MX     79.90  22.8909 -109.9124
27        Acajutla      SV     82.58  13.5928  -89.8275
32       Sinnamary      GF     76.93   5.3833  -52.9500

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [59]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hithadhoo,MV,84.42,-0.6000,73.0833,Scoop Guest House
5,Champerico,GT,84.49,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
9,Butaritari,KI,81.45,3.0707,172.7902,Isles Sunset Lodge
10,Atuona,PF,79.14,-9.8000,-139.0333,Villa Enata
13,Balabac,PH,83.80,7.9868,117.0645,Batalla’s Lodging House
...,...,...,...,...,...,...
555,Sungai Udang,MY,84.07,2.2690,102.1427,SGU Hotel
556,Maragogi,BR,81.91,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
557,Conde,BR,83.66,-7.2597,-34.9075,Pousada Beija Flor
559,Coahuayana,MX,85.66,18.7333,-103.6833,El rranchito michuacan de ocampos
564,Alacranes,CU,83.66,22.7675,-81.5675,Hotel Union de Reyes

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [63]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))