## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file.IMPORTANT TO PUT "../ FOR IT TO READ"
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
#Weather_Database\WeatherPy_Database.csv"
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Paita,PE,2022-05-12 05:51:20,-5.0892,-81.1144,66.56,81,61,10.45,broken clouds
1,1,Wajir,KE,2022-05-12 05:51:21,1.7471,40.0573,80.56,74,100,9.22,overcast clouds
2,2,Ushuaia,AR,2022-05-12 05:46:51,-54.8000,-68.3000,44.26,76,0,16.11,clear sky
3,3,Kapaa,US,2022-05-12 05:51:22,22.0752,-159.3190,78.78,84,75,19.57,broken clouds
4,4,Matara,LK,2022-05-12 05:50:19,5.9485,80.5353,83.52,78,82,14.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Wajir,KE,2022-05-12 05:51:21,1.7471,40.0573,80.56,74,100,9.22,overcast clouds
3,3,Kapaa,US,2022-05-12 05:51:22,22.0752,-159.3190,78.78,84,75,19.57,broken clouds
4,4,Matara,LK,2022-05-12 05:50:19,5.9485,80.5353,83.52,78,82,14.00,broken clouds
7,7,Gizo,SB,2022-05-12 05:47:41,-8.1030,156.8419,85.06,68,98,5.82,overcast clouds
10,10,Avarua,CK,2022-05-12 05:51:24,-21.2078,-159.7750,77.05,88,75,4.61,broken clouds
16,16,Rockport,US,2022-05-12 05:51:26,28.0206,-97.0544,80.65,85,0,11.50,clear sky
21,21,Victoria,HK,2022-05-12 05:44:19,22.2855,114.1577,80.65,93,100,14.00,moderate rain
22,22,Waingapu,ID,2022-05-12 05:51:29,-9.6567,120.2641,85.08,62,49,5.64,scattered clouds
24,24,Isangel,VU,2022-05-12 05:48:51,-19.5500,169.2667,75.56,74,100,23.31,overcast clouds
27,27,Rikitea,PF,2022-05-12 05:51:30,-23.1203,-134.9692,77.25,81,14,19.84,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                190
City                   190
Country                190
Date                   190
Lat                    190
Lng                    190
Max Temp               190
Humidity               190
Cloudiness             190
Wind Speed             190
Current Description    190
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Wajir,KE,2022-05-12 05:51:21,1.7471,40.0573,80.56,74,100,9.22,overcast clouds
3,3,Kapaa,US,2022-05-12 05:51:22,22.0752,-159.3190,78.78,84,75,19.57,broken clouds
4,4,Matara,LK,2022-05-12 05:50:19,5.9485,80.5353,83.52,78,82,14.00,broken clouds
7,7,Gizo,SB,2022-05-12 05:47:41,-8.1030,156.8419,85.06,68,98,5.82,overcast clouds
10,10,Avarua,CK,2022-05-12 05:51:24,-21.2078,-159.7750,77.05,88,75,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
682,682,Kulhudhuffushi,MV,2022-05-12 06:11:17,6.6221,73.0700,83.79,77,55,16.28,broken clouds
687,687,Kathu,TH,2022-05-12 06:11:20,7.9178,98.3332,86.70,99,97,17.45,light rain
691,691,Bitung,ID,2022-05-12 06:08:08,1.4451,125.1824,88.65,78,96,2.33,overcast clouds
694,694,Hambantota,LK,2022-05-12 06:11:23,6.1241,81.1185,85.30,71,79,21.34,broken clouds
700,700,Chhatak,BD,2022-05-12 06:12:26,25.0333,91.6667,84.31,74,83,5.19,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Wajir,KE,80.56,overcast clouds,1.7471,40.0573,
3,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,
4,Matara,LK,83.52,broken clouds,5.9485,80.5353,
7,Gizo,SB,85.06,overcast clouds,-8.1030,156.8419,
10,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
16,Rockport,US,80.65,clear sky,28.0206,-97.0544,
21,Victoria,HK,80.65,moderate rain,22.2855,114.1577,
22,Waingapu,ID,85.08,scattered clouds,-9.6567,120.2641,
24,Isangel,VU,75.56,overcast clouds,-19.5500,169.2667,
27,Rikitea,PF,77.25,light rain,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Wajir,KE,80.56,overcast clouds,1.7471,40.0573,Al-bustan Hotel And Restaurant.
3,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Matara,LK,83.52,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
7,Gizo,SB,85.06,overcast clouds,-8.1030,156.8419,Imagination Island
10,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))